h1 {
    text-align: center;
    color: rgb(110, 36, 110);
    font-family: 'PT Sans', sans-serif;
}

p {
    color: dodgerblue;
    font-family: 'PT Sans', sans-serif;
}


img {
    max-width: 100%;
    height: auto;
}


